* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    margin: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

span {
    margin: 5px;
}

input, button {
    margin: 5px;
}